{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}


<!doctype html>

{% block body %}

  <!-- bradcam_area  -->
  <div class="bradcam_area bradcam_bg_1">
      <div class="container">
          <div class="row">
              <div class="col-xl-12">
                  <div class="bradcam_text">
                      <h3>single blog</h3>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!--/ bradcam_area  -->

   <!--================Blog Area =================-->
   <section class="blog_area single-post-area section-padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 posts-list">
               <div class="blog_left_sidebar">
                  <div class="feature-img">
                     <img class="img-fluid" src="{{detail.image.url}}" alt="">
                  </div>
                  <div class="blog_details">
                     <h2>{{detail.title}}
                     </h2>
                     <ul class="blog-info-link mt-3 mb-4">
                        <li><a href="#"><i class="fa fa-user"></i> {{detail.blog_type}}</a></li>

                     </ul>
                     
                  </div>
               
                  <div class="navigation-top">
                     <div class="d-sm-flex justify-content-between text-center">
                        <div class="col-sm-4 text-center my-2 my-sm-0">
                           <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                        </div>
                        <ul class="social-icons">
                           <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                           <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                           <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                           <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                     </div>
                     <div class="navigation-area">
                        <div class="row">
                        
                           <div
                              class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                           
                           {%if prev != None %}
                              <div class="thumb">
                                 <a href="{% url 'blogs:blog_details' prev.id %}">
                                    <img class="img-fluid" width = '180px' height ='180px' src="{{prev.image.url}}" alt="">
                                 </a>
                              </div>
                              <div class="arrow">
                                 <a href="#">
                                    <span class="lnr text-white ti-arrow-left"></span>
                                 </a>
                              </div>
                              <div class="detials">
                                 <p>Prev Post</p>
                                 <a href="#">
                                    <h4>{{prev}}</h4>
                                 </a>
                              </div>
                           {% endif %}
                           </div>
                           
                           <div
                              class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                           {%if next != None %}
                              <div class="detials">
                                 <p>Next Post</p>
                                 <a href="#">
                                    <h4>{{next}}</h4>
                                 </a>
                              </div>
                              <div class="arrow">
                                 <a href="#">
                                    <span class="lnr text-white ti-arrow-right"></span>
                                 </a>
                              </div>
                              <div class="thumb">
                                 <a href="{% url 'blogs:blog_details' next.id %}">
                                    <img class="img-fluid " width = '180px' height ='180px' src="{{next.image.url}}" alt="">
                                 </a>
                              </div>
                           {%endif %}
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="blog-author">
                     <div class="media align-items-center" >
                        <img src="{{detail.bloger.profile.image.url}}" alt="" width = '120px' height ='120px'>
                        <div class="media-body">
                           <a href="#">
                              <h4>{{detail.bloger}}</h4>
                           </a>
                        </div>
                     </div>
                  </div>
                  <div class="comments-area">
                     <h4>{{comm}} Comments </h4>
                  {%for comme in comments%}
                     <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                           <div class="user justify-content-between d-flex">
                           <div class="blog-author">

                              <div class="media align-items-center">
                                 <img src="{{comme.user.profile.image.url}}" width = '100px' height ='100px' alt="">
                              <div class="desc">
                                 <p class="comment">
                                    {{comme.comment}}
                                 </p>
                                 <div class="d-flex justify-content-between">
                                    <div class="d-flex align-items-center">
                                       <h5>
                                          <a href="#">{{comme.user}}</a>
                                       </h5>
                                       <p class="date">{{comme.published_at}} </p>
                                    </div>
                                    
                                 </div> 
                              </div>

                              </div>
                           </div>
                        </div>
                     </div>
                  {% endfor %}
                  </div>
                  {%if request.user.is_authenticated %} 
                  <div class="comment-form">
                     <h4>Leave a Reply</h4>
                        <form method="POST" enctype="multipart/form-data">
                           {% csrf_token %}
                           {% bootstrap_form form %}
                           {% buttons %}
                              <button class="boxed-btn3 w-100" type="submit">post now </button>
                           {% endbuttons %}
   
                        </form>
                  </div>
                  {%else%}
                  <h2> Log in to add Comment </h2>
                  {%endif%}
               </div>
            </div>
            
         <div class="col-lg-4">
            <div class="blog_right_sidebar">
                  
               <aside class="single_sidebar_widget popular_post_widget">
                     <h3 class="widget_title">Recent Post</h3>
                  {%for blog in blogs%}
                     <div class="media post_item">
                        <img src="{{blog.image.url}}" alt="post" width = "100px" height="100px">
                        <div class="media-body">
                           <a href="#">
                            <div class="col-xl-auto ">
                              <h3> {{blog}}</h3>
                            </div>
                           </a>
                            <div class="d-flex justify-content-between">
                              <div class="col-xl-auto ">
                                <a>{{blog.published_at}}</a>
                              </div>
                            </div>
                        </div>
                     </div>
                  {% endfor %}
               </aside>
                  
                  
            </div>
         </div>
      </div>
    </div>
   </section>
   <!--================ Blog Area end =================-->

{%endblock%}